 <div class="card">
    <a href="/comment/{{id}}">
        <div class="card-header">
            <span class="float-start"> User: <span>{{comment.author}}</span></span>
            <span class="float-end"> Date Added: <span>{{comment.createdAt}}</span></span>
        </div>
        <div class="card-body">                  
            <p class="comment-description">Description:{{comment.comment}} </p>
        </div>
        <div class="card-footer"></div>
    </a>
</div>