<div class="card">
    <div class="card-header">
        <span class="float-start"> User: <span> User Name</span></span>
        <span class="float-end"> Date Added: <span> Date</span></span>
    </div>
    <div class="card-body">
        <p class="comment-title">Title: </p>
        <p class="comment-description">Description: </p>
    </div>
    <div class="card-footer"></div>
</div>